body {
    
    background-image: url('http://www.geeknaut.com/images/ipad-retina/2012/03/iPad-3-Wallpaper-Pattern-051.jpg');
}

#banner_div {
    background-color: black;
    display: block;
}

#banner_image {
    display:block;
}

#navbar_background {
    background-color: red;
}

#navbar_container {
    margin-bottom: 0px;
}

.navbar-inner {
  padding-left: 20px;
  padding-right: 20px;
  background-color: black;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border-top: solid 2px rgb(43, 170, 81);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

#brand_properties {
    width: 150px;
    margin-left: -12px;
    font-size: 26px;
}

#brand_properties:hover {
    color: rgb(0, 255, 59);
}

.tert_nav_link {
    margin-left: 15px;
}

.well_reviews {
  min-height: 20px;
  height: 1013px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #E5E5E5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well_cheats {
  min-height: 20px;
  height: 990px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #E5E5E5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well_media {
  min-height: 20px;
  height: 1080px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #E5E5E5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well_marketplace {
  min-height: 20px;
  height: 1013px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #E5E5E5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well_reviews_upcoming {
  min-height: 20px;
  height: 887px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #E5E5E5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well_reviews_new {
  min-height: 20px;
  height: 680px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #E5E5E5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well_reviews_top {
  min-height: 20px;
  height: 1251px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #E5E5E5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well_reviews_all {
  min-height: 20px;
  height: 1014px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #E5E5E5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well_cheats_codes {
  min-height: 20px;
  height: 601px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #E5E5E5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well_cheats_walks {
  min-height: 20px;
  height: 1203px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #E5E5E5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well_cheats_guides {
  min-height: 20px;
  height: 939px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #E5E5E5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well_media_live {
  min-height: 20px;
  height: 911px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #E5E5E5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well_media_forums {
  min-height: 20px;
  height: 989px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #E5E5E5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well_media_blogs {
  min-height: 20px;
  height: 960px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #E5E5E5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well_marketplace_buy {
  min-height: 20px;
  height: 912px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #E5E5E5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well_marketplace_sell {
  min-height: 20px;
  height: 968px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #E5E5E5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well_marketplace_rent {
  min-height: 20px;
  height: 1148px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #E5E5E5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.nav-list .nav-header {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #999999;
  text-transform: uppercase;
}

.nav-list > li > a, .nav-list .nav-header {
  display: block;
  padding: 3px 15px;
  margin-left: -18px;
  margin-right: -25px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #2c2c2c;
}

.nav > li > a:hover {
  text-decoration: none;
  background-color: transparent;
  text-decoration: underline;
}

.navbar .nav > li > a {
  float: none;
  padding: 10px 10px 11px 50px;
  line-height: 19px;
  color: white;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  font-size: 18px;
}

.navbar .nav > li > a:hover {
  color: rgb(43, 170, 81);
}

#top_nav {
    margin-right: 30px;
    margin-top: 5px;
}

#middle_content {
    background-color: #E5E5E5;
}

.breadcrumb {
  padding: 7px 14px;
  margin: 0 0 18px;
  background-color: #E5E5E5;
  margin-left: 6px;
  font-size: 15px;
}

.breadcrumb > li > a {
    color: rgb(43, 170, 81);
}

#secondary_content_box {
    padding-left: 50px;
    padding-right: 30px;
    padding-bottom: 40px;
}

#secondary_content_header {
    background-color: rgb(43, 170, 81);
}


#fixed_sidenav {
    position: fixed;
}